/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : May 24, 2021, 2:34:36 PM
    Author     : Mjohn
*/

$blue-bg: #4D7AC4;
$violet-dark:#43425D;
$primary-blue:#3B86FF;
$light-gray:#A3A6B4;
$violet-50:rgba(77,79,92,.5); 
$lighter-text:#A4AFB7;
